<div id="about" class="parallax-window" style="height: 820px;" data-parallax="scroll"
  data-image-src="images/citysky.jpg">
  <div class="about">

    <img class="circle center" src="/images/selfie_neve.webp">
    <p class="center" style="text-align: justify; font-weight: bold;">
      Hello, I'm a software engineer passionate on build and delivery great experiences through technology.
      My stronger expertise is on mobile but I also dare to adventure myself as full stack.
      <br><br>Below you will find an attempt of journaling some of my previous expriences on software
      engineering, building & leading teams and more.
    </p>

    <div class="social-links">
      <a href="http://twitter.com/guicarneirocom/" target="_blank"><i class="fa fa-twitter fa-2x" style="color:white"
          title="Twitter"></i></a>
      <a href="https://www.linkedin.com/in/guilherme-carneiro/" target="_blank"><i class="fa  fa-linkedin fa-2x"
          style="color:white" title="LinkedIn"></i></a>
      <a href="https://www.instagram.com/guicarneirocom" target="_blank"><i class="fa fa-instagram fa-2x"
          style="color:white;" title="Instagram"></i></a>
      <a href="https://github.com/guilhermefc" target="_blank"><i class="fa fa-github fa-2x" style="color:white;"
          title="Instagram"></i></a>
    </div>
  </div>
</div>