<div id="jobs" class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center grey-text">Jobs</h1>
    <div class="row center">
      <h5 class="header col s12 light">Take a look at my most recent work</h5>
    </div>
    <div class="row">

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/juno-app.webp" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>Conta JUNO</h3>
              <h6>Engineering Manager</h6>
              <p>Digital account focused on SMB acquired by EBANX. My maing goal in this product was to work on the
                merge of separated teams into one, after the
                acquisition, to work toghether in a product with many challanges. </p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/ebanx-go-app.webp" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>EBANX GO</h3>
              <h6>Engineering Tech Leader</h6>
              <p>PrePaid digital account focused on importers that use EBANX. I was responsible for lead engineering
                squads to build a product reliable and resilient, and pair with product teams to act on discovery of new
                opportunities.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-tarjetas.jpg" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>Itaú Tarjetas</h3>
              <h6>Android Tech Leader</h6>
              <p>Single credit card application distributed in three countries sharing core functionalities,
                but with specific use cases for each country, such as multi language, multi currency and more.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-rchlo.jpg" style="max-width: 100%; height: auto;">

          </div>
          <div class="card-content">
            <h5>RCHLO Cards</h3>
              <h6>Android Tech Leader</h6>
              <p>Private label credit card, winner of “Gestão Private Label” at eFinance Conference 2017, and "Visa
                Award" in 2016 and 2017. <a href="http://www.midwayfinanceira.com.br/a-midway/premios">See
                  details.</a></p>
          </div>
        </div>
      </div>



      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-avon.png" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>Avon Contact Center</h3>
              <h6>Android Tech Leader</h6>
              <p>Call Center application, used to give more freedom and autonomy to partners of AVON to solve their
                problems by themselves. Had a massive usage just after launch reaching huge impact with over 100k
                downloads.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-abc.png" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>ABC Investments</h3>
              <h6>Android Tech Leader</h6>
              <p>The challenge in this case was to develop a very large scope in a short time and with few resources.
                Implementing Agile and with team extra effort it was delivered successfully.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-mobk.png" style="max-width: 100%; height: auto;">

          </div>
          <div class="card-content">
            <h5>Original Mobile Banking</h3>
              <h6>Support analyst</h6>
              <p>Original was the first bank in Brazil to have its digital account opening, I've worked on supporting
                the application and building a few features. </p>
          </div>
        </div>
      </div>



      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-vizin.webp" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>Vizin</h3>
              <h6>Founder</h6>
              <p>That's my son, an application to solve a pain that I felt on get neighbors closer through an app that
                could send alerts and share information on security of the region, I've worked on building the MVP and
                validating with a reach of more
                than 5k active users in a few Brazilian cities.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-clube-mb.jpg" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>Clube Minha Beauty</h3>
              <h6>Tech Leader</h6>
              <p>With Clube Minha Beauty, you have access to the beauty community and earn money every time you refer
                products with your coupon to your customers. I've worked on building the MVP</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/app-bob.webp" style="max-width: 100%; height: auto;">
          </div>
          <div class="card-content">
            <h5>Bob & Wine</h3>
              <h6>Tech Leader</h6>
              <p>Choose what you want to consume, pay on the card and present the card at the bar to get the desired
                ethyl, all quickly and safely on the screen of your cell phone. Exclusive use of Uncle Bob's friends,
                inside Uncle Bob's House. Jah Bless!</p>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

  </div>
</div>